<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
        
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.10.4.css">
    <script type="text/javascript" src="/static/scripts/jquery-1.10.2.min.js"></script>	
    <script src="/static/scripts/jquery-ui-1.10.4.js"></script>
 
    <link href="/static/base.css" rel="stylesheet" type="text/css" />
    
{% if not active_book %}
    <script>
        
        $(document).ready(function() {
            $(".switchable").on("click", function(e) { e.preventDefault(); });
            $(".switchable").addClass("disabled-link");
        });
    </script>
{% endif %}    
    
    <title>{% block title %}Korova{% endblock title %}</title>
    {% block head %} {% endblock head %}
</head>
<body>
<div id="top">
{% block top %}
<p>
<form action="/perform_logout/" method="post">
    {% csrf_token %}
    
    <label>
        <input type="submit" value="Logout" />
    </label>
</form>    
</p>

{% endblock top %}
</div>

<div id="sidebar">
    <ul>
        {% block sidebar_default %}
            <li class="sidebar-item"><a href="/">Home</a></li>
            <li class="sidebar-item"><a class="switchable" href="/account">Manage Accounts</a></li>
            <li class="sidebar-item"><a class="switchable" href="/group">Manage Groups</a></li>
            <li class="sidebar-item"><a class="switchable" href="/transaction">Manage Transactions</a></li>
        {% endblock sidebar_default %}
        {% block sidebar %}
        {% endblock sidebar %}
    </ul>    
</div>
<div id="content">
    <div id="korova-content-linkbar">
        {% block content_linkbar %}
        {% endblock content_linkbar %}
    </div>
    <div id="korova-content-main">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<div id="footer">
    {% block footer %} {% endblock footer %}
</div>
</body>
</html>
